<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.model.mapper.AttractionInfoMapper">
    <select id="selectAll" resultType="AttractionInfo">
        select ai.content_id   contentId,
               ai.title        title,
               ai.addr1        addr1,
               ai.addr2        addr2,
               ai.first_image  firstImage,
               ai.first_image2 firstImage2,
               ai.latitude     latitude,
               ai.longitude    longitude,
               ai.readcount readCount,
               ai.like_count likeCount,
               ad.overview overview
        from attraction_description ad
                 inner join
             attraction_info ai
             on
                 ad.content_id = ai.content_id limit 100
    </select>
    <select id="selectAllB" resultType="AttractionInfo">
        select ai.content_id   contentId,
               ai.title        title,
               ai.addr1        addr1,
               ai.addr2        addr2,
               ai.first_image  firstImage,
               ai.first_image2 firstImage2,
               ai.latitude     latitude,
               ai.longitude    longitude,
               ai.readcount readCount,
               ai.like_count likeCount,
               ad.overview overview
        from attraction_description ad
                 inner join
             attraction_info ai
             on
                 ad.content_id = ai.content_id limit 100
    </select>
    <select id="selectTop4" resultType="AttractionInfo">
        select ai.content_id   contentId,
               ai.title        title,
               ai.addr1        addr1,
               ai.addr2        addr2,
               ai.first_image  firstImage,
               ai.first_image2 firstImage2,
               ai.latitude     latitude,
               ai.longitude    longitude,
               ai.readcount readCount,
               ai.like_count likeCount,
               ad.overview overview
        from attraction_description ad
                 inner join
             attraction_info ai
             on
                 ai.content_id = ad.content_id
        order by ai.readcount desc
        limit 4;
    </select>
    <select id="selectByTitle" parameterType="java.lang.String" resultType="AttractionInfo">
        select
            ai.content_id contentId,
            ai.title title,
            ai.addr1 addr1,
            ai.addr2 addr2,
            ai.first_image firstImage,
            ai.first_image2 firstImage2,
            ai.latitude latitude,
            ai.longitude longitude,
            ai.readcount readCount,
            ai.like_count likeCount,
            ad.overview overview
        from
            attraction_description ad
                inner join
            attraction_info ai
            on
                ad.content_id = ai.content_id
        WHERE
            addr1 LIKE CONCAT('%',#{searchTitle},'%')
            limit 100
    </select>
    <select id="selectBySidoCode" parameterType="java.lang.String" resultType="AttractionInfo">
        select
            ai.content_id contentId,
            ai.title title,
            ai.addr1 addr1,
            ai.addr2 addr2,
            ai.first_image firstImage,
            ai.first_image2 firstImage2,
            ai.latitude latitude,
            ai.longitude longitude,
            ai.readcount readCount,
            ai.like_count likeCount,
            ad.overview overview
        from
            attraction_description ad
                inner join
            attraction_info ai
            on
                ad.content_id = ai.content_id
        WHERE
            ai.sido_code = #{sido_code}
            limit 100
    </select>
    <select id="selectByContentID" parameterType="java.lang.String" resultType="AttractionInfo">
        select
            ai.content_id contentId,
            ai.title title,
            ai.addr1 addr1,
            ai.addr2 addr2,
            ai.first_image firstImage,
            ai.first_image2 firstImage2,
            ai.latitude latitude,
            ai.longitude longitude,
            ai.readcount readCount,
            ai.like_count likeCount,
            ad.overview overview
        from
            attraction_description ad
                inner join
            attraction_info ai
            on
                ad.content_id = ai.content_id
        WHERE
            ai.content_id = #{contentId}
    </select>
    <update id="readCountUp" parameterType="java.lang.String">
        update attraction_info
        set readcount = readcount + 1
        WHERE content_id = #{contentId};

    </update>
    <update id="likeCountUp" parameterType="java.lang.String">
        update attraction_info
        set like_count = like_count + 1
        WHERE content_id = #{contentId};

    </update>
    <insert id="favoriteInsert" parameterType="Map">
        insert into favorite values (#{userId},#{contentId},#{name});
    </insert>
    <update id="likeCountDown" parameterType="java.lang.String">
        update attraction_info
        set like_count = like_count - 1
        WHERE content_id = #{contentId} and like_count>0;
    </update>
    <delete id="favoriteDelete" parameterType="Map">
        delete from favorite where user_id = #{userId} and content_id = #{contentId};
    </delete>
    <select id="userFavoriteList" resultType="AttractionInfo" parameterType="String">
        select ai.content_id   contentId,
               ai.title        title,
               ai.addr1        addr1,
               ai.addr2        addr2,
               ai.first_image  firstImage,
               ai.first_image2 firstImage2,
               ai.latitude     latitude,
               ai.longitude    longitude,
               ai.readcount readCount,
               ai.like_count likeCount,
               ad.overview overview,
               f.name name
        from attraction_description ad
                 inner join
             attraction_info ai
             on
                 ad.content_id = ai.content_id
                 inner join
             favorite f
             on
                 f.content_id = ai.content_id
        where ai.content_id in (select content_id from favorite where user_id=#{userId}) and f.user_id=#{userId}
    </select>
</mapper>