<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.model.mapper.AttractionInfoMapper">
    <select id="selectAll" resultType="AttractionInfo">
        select i.content_id   content_id,
               i.title        title,
               i.addr1        addr1,
               i.addr2        addr2,
               i.first_image  first_image,
               i.first_image2 first_image2,
               i.latitude     latitude,
               i.longitude    longitude,
               i.readcount readcount,
               i.like_count like_count,
               d.overview overview
        from attraction_description d
                 inner join
             attraction_info i
             on
                 d.content_id = i.content_id limit 100
    </select>
    <select id="selectTop4" resultType="AttractionInfo">
        select i.content_id   content_id,
               i.title        title,
               i.addr1        addr1,
               i.addr2        addr2,
               i.first_image  first_image,
               i.first_image2 first_image2,
               i.latitude     latitude,
               i.longitude    longitude,
               i.readcount readcount,
               i.like_count like_count,
               d.overview overview
        from attraction_description d
                 inner join
             attraction_info i
             on
                 d.content_id = i.content_id
        where first_image != ""
        order by i.readcount desc
        limit 4;
    </select>
    <select id="selectByTitle" parameterType="java.lang.String">
        select
            i.content_id content_id,
            i.title title,
            i.addr1 addr1,
            i.addr2 addr2,
            i.first_image first_image,
            i.first_image2 first_image2,
            i.latitude latitude,
            i.longitude longitude,
            i.readcount readcount,
            i.like_count like_count,
            d.overview overview
        from
            attraction_description d
                inner join
            attraction_info i
            on
                d.content_id = i.content_id
        WHERE
            addr1 LIKE CONCAT('%',#{searchTitle},'%')
    </select>
    <select id="selectByContentID" parameterType="java.lang.String" resultType="AttractionInfo">
        select
            i.content_id content_id,
            i.title title,
            i.addr1 addr1,
            i.addr2 addr2,
            i.first_image first_image,
            i.first_image2 first_image2,
            i.latitude latitude,
            i.longitude longitude,
            i.readcount readcount,
            i.like_count like_count,
            d.overview overview
        from
            attraction_description d
                inner join
            attraction_info i
            on
                d.content_id = i.content_id
        WHERE
            i.content_id = #{contentId}
    </select>
    <update id="readCountUp" parameterType="java.lang.String">
        update attraction_info
        set readcount = readcount + 1
        WHERE content_id = #{contentId};

    </update>
    <update id="likeCountUp" parameterType="java.lang.String">
        update attraction_info
        set like_count = like_count + 1
        WHERE content_id = #{contentId};

    </update>
    <insert id="favoriteInsert" parameterType="Map">
        insert into favorite values (#{user_id},#{contentId},#{name});
    </insert>
    <update id="likeCountDown" parameterType="java.lang.String">
        update attraction_info
        set like_count = like_count - 1
        WHERE content_id = #{contentId} and like_count>0;
    </update>
    <delete id="favoriteDelete" parameterType="Map">
        delete from favorite where user_id = #{user_id} and content_id = #{contentId};
    </delete>
    <select id="userFavoriteList" resultType="AttractionInfo" parameterType="String">
        select i.content_id   content_id,
               i.title        title,
               i.addr1        addr1,
               i.addr2        addr2,
               i.first_image  first_image,
               i.first_image2 first_image2,
               i.latitude     latitude,
               i.longitude    longitude,
               i.readcount readcount,
               i.like_count like_count,
               d.overview overview
        from attraction_description d
                 inner join
             attraction_info i
             on
                 d.content_id = i.content_id
        where i.content_id in (select content_id from favorite where user_id=#{user_id})
    </select>
</mapper>