<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.model.mapper.UserMapper">
    <select id="login" parameterType="User" resultType="User">
        SELECT
            ID
        ,   EMAIL
        ,   ADVERTISEMENT
        FROM
            USER
        WHERE
            ID = #{id}
        AND PASSWORD = #{pwd}
    </select>
    <insert id="signUp" parameterType="User">
        INSERT INTO USER (ID, PASSWORD, EMAIL, ADVERTISEMENT)
        VALUES (#{id}, #{pwd}, #{email}, #{advertisement})
    </insert>
    <select id="check" parameterType="User" resultType="User">
        SELECT
            EMAIL
        ,   PASSWORD
        ,   ADVERTISEMENT
        FROM
            USER
        WHERE
            ID = #{id}
    </select>
    <update id="update" parameterType="User">
        UPDATE
            USER
        SET
            EMAIL = #{email}
        ,   PASSWORD = #{newPwd}
        ,   ADVERTISEMENT = #{advertisement}
        WHERE
            ID = #{id}
    </update>
    <delete id="delete" parameterType="User">
        DELETE FROM USER
        WHERE
            ID = #{id}
    </delete>

    <select id="findUserById" parameterType="java.lang.String" resultType="User">
        SELECT
            ID  AS  ID
        ,   PASSWORD    AS  PWD
        ,   EMAIL   AS  EMAIL
        ,   ADVERTISEMENT   AS  ADVERTISEMENT
        FROM
            USER
        WHERE
            ID = #{id}
    </select>
</mapper>